#root > .page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#browse {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.filter-panel {
        padding: 1px 1em;
        background: #222;
    }
    .filter-panel ul {
        list-style: none;
    }
    .filter-panel ul > li {
        margin: 1em 0;
    }
    .filter-panel .text input {
        width: 100%;
}

.palette-list {
        padding: 1px 0;
        list-style: none;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .palette-list > li {
        margin: 2.5em 0;
    }
    .palette-list > li h3 {
        margin-top: 5px;
        padding: 0 1em;
        font-weight: normal;
        font-size: 1em;
}

.palette {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    height: 50px;
    list-style: none;
}
