#root > .page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#browse {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.filter-panel {
        padding: 1px 1em;
        background: #222;
    }
    .filter-panel ul {
        list-style: none;
    }
    .filter-panel ul > li {
        margin: 1em 0;
    }
    .filter-panel .text input {
        width: 100%;
}

.palette-list {
        position: relative;
    }
    .palette-list .shadow {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 20px;
        background: linear-gradient(to bottom, #111, transparent);
        opacity: .7;
        pointer-events: none;
    }
    .palette-list .shadow.bottom {
        top: auto;
        bottom: 0;
        background: linear-gradient(to top, #111, transparent);
    }
    .palette-list > ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        list-style: none;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .palette-list.measure > ul {
        opacity: 0;
        pointer-events: none;
    }
    .palette-list .placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        opacity: 0;
        pointer-events: none;
    }
    .palette-list .item {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 1.3em 0;
    }
    .palette-list .name {
        height: 1.5em;
        padding: 0 1em;
        margin-top: 5px;
        overflow: hidden;
        font-weight: normal;
        font-size: 1em;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .palette-list .name a:hover, .palette-list .name a:focus {
        border-bottom: 1px solid #666;
        cursor: pointer;
}

.palette {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    height: 50px;
    list-style: none;
}

.toolbar {
        background: #222;
    }
    .toolbar > ul {
        list-style: none;
        overflow: hidden;
    }
    .toolbar > ul > li {
        float: left;
    }
    .toolbar > ul > li a {
        display: block;
        padding: .5em 1em;
        background: #333;
    }
    .toolbar > ul > li a:focus {
        background: #444;
    }
    .toolbar > ul > li a:hover {
        background: #0050C0;
    }
    .toolbar > ul > li a:active {
        background: #0030A0;
    }
    .toolbar > ul > li img {
        display: block;
        width: 12px;
        height: 12px;
        filter: invert(100%);
}
